body{
    color:orangered;
    
}
img{
margin:800px;
background-color: black;
border-top-style:dashed;
initial-letter:inherit;


}

table{
animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
border-color: chartreuse;
bottom:0vmax;
font-style: oblique;
padding:initial;

}